<!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Shopify Application</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div>
            <a href="/">
                <h2>User Management System</h2>
            </a>
        </div>

        <main>
            <div>
                <a href="/add-user">
                    <h2>Add user</h2>
                </a>
            </div>
            <form action="/" method="POST">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>@email</th>
                            <th>Gender</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </form>
        </main>

    </body>
</html> -->